@model GitHubApp.Models.GHRepo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>GHRepo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="full_name" class="control-label"></label>
                <input asp-for="full_name" class="form-control" />
                <span asp-validation-for="full_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="owner_id" class="control-label"></label>
                <select asp-for="owner_id" class ="form-control" asp-items="ViewBag.owner_id"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="private" /> @Html.DisplayNameFor(model => model.private)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="html_url" class="control-label"></label>
                <input asp-for="html_url" class="form-control" />
                <span asp-validation-for="html_url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="fork" /> @Html.DisplayNameFor(model => model.fork)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="created_at" class="control-label"></label>
                <input asp-for="created_at" class="form-control" />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updated_at" class="control-label"></label>
                <input asp-for="updated_at" class="form-control" />
                <span asp-validation-for="updated_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pushed_at" class="control-label"></label>
                <input asp-for="pushed_at" class="form-control" />
                <span asp-validation-for="pushed_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stargazers_count" class="control-label"></label>
                <input asp-for="stargazers_count" class="form-control" />
                <span asp-validation-for="stargazers_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="watchers_count" class="control-label"></label>
                <input asp-for="watchers_count" class="form-control" />
                <span asp-validation-for="watchers_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="language" class="control-label"></label>
                <input asp-for="language" class="form-control" />
                <span asp-validation-for="language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="score" class="control-label"></label>
                <input asp-for="score" class="form-control" />
                <span asp-validation-for="score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
